<!DOCTYPE html>
<html>

<head>
    <title>Web Clients</title>
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/site.css" />
    <link href="css/app.css" rel="stylesheet">
    <script src="js/vue.min.js"></script>

</head>

<body>
    <mainContent class="leftActive rightActive bottonActive">
        <!-- <mainContent> -->
        <top>
            <i class="icon-menu" @click="panelLeft"></i>
            <titulo>Web Clients Admin</titulo>
            <userPic @click="panelUser">
                <i class=" icon-user-circle-o"></i>
            </userPic>
        </top>
        <userTopMenu>
            <triangulito></triangulito>

            <ul style="list-style: none;">

                <li @click="expandAll"><i class="icon-plus"></i> Expand All</li>
                <li @click="hideAll"><i class="icon-right-open"></i>hide All</li>


            </ul>
        </userTopMenu>
        <tv>
            <h3>List Of Clients</h3>
            <Div style="width: 30px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr v-for="item in Clientes " @click="getAddresses(item.id)">
                            <td>
                                {{ item.name}}
                            </td>
                            <td>
                                {{item.email}}
                            </td>
                            <td>
                                {{ item.phone}}
                            </td>

                        </tr>

                    </tbody>
                </table>

            </Div>
            <Div style="width: 30px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th> Street </th>
                            <th>
                                Number
                            </th>
                            <th>
                                City
                            </th>
                            <th>
                                State
                            </th>
                            <th>
                                Country
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr v-for="item in addresses ">
                            <td>
                                {{item.street}}
                            </td>
                            <td>
                                {{item.number}}
                            </td>
                            <td>
                                {{item.city}}
                            </td>
                            <td>
                                {{item.state}}
                            </td>
                            <td>
                                {{item.country}}
                            </td>


                        </tr>

                    </tbody>
                </table>

            </Div>
        </tv>

    </mainContent>
    <script src="js/movil.js"></script>
</body>

</html>