
.icon-menu:before { content: '\61'; } /* 'a' */
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-setup:before { content: '\e801'; } /* '' */
.icon-emo-unhappy:before { content: '\e802'; } /* '' */
.icon-setup2:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-up-open:before { content: '\e806'; } /* '' */
.icon-down-open:before { content: '\e807'; } /* '' */
.icon-folder-open:before { content: '\e808'; } /* '' */
.icon-globe:before { content: '\e809'; } /* '' */
.icon-flash:before { content: '\e80a'; } /* '' */
.icon-cloud:before { content: '\e80b'; } /* '' */
.icon-umbrella:before { content: '\e80c'; } /* '' */
.icon-flight:before { content: '\e80d'; } /* '' */
.icon-scissors:before { content: '\e80e'; } /* '' */
.icon-play:before { content: '\e80f'; } /* '' */
.icon-shuffle:before { content: '\e810'; } /* '' */
.icon-arrows-cw:before { content: '\e811'; } /* '' */
.icon-ccw:before { content: '\e812'; } /* '' */
.icon-bell:before { content: '\e813'; } /* '' */
.icon-chat:before { content: '\e814'; } /* '' */
.icon-comment:before { content: '\e815'; } /* '' */
.icon-print:before { content: '\e816'; } /* '' */
.icon-camera:before { content: '\e817'; } /* '' */
.icon-picture:before { content: '\e818'; } /* '' */
.icon-video:before { content: '\e819'; } /* '' */
.icon-th-large:before { content: '\e81a'; } /* '' */
.icon-th:before { content: '\e81b'; } /* '' */
.icon-th-list:before { content: '\e81c'; } /* '' */
.icon-heart:before { content: '\e81d'; } /* '' */
.icon-heart-empty:before { content: '\e81e'; } /* '' */
.icon-star:before { content: '\e81f'; } /* '' */
.icon-star-empty:before { content: '\e820'; } /* '' */
.icon-star-half:before { content: '\e821'; } /* '' */
.icon-ok:before { content: '\e822'; } /* '' */
.icon-ok-circled:before { content: '\e823'; } /* '' */
.icon-ok-circled2:before { content: '\e824'; } /* '' */
.icon-cancel:before { content: '\e825'; } /* '' */
.icon-plus-circled:before { content: '\e826'; } /* '' */
.icon-plus:before { content: '\e827'; } /* '' */
.icon-cancel-circled2:before { content: '\e828'; } /* '' */
.icon-cancel-circled:before { content: '\e829'; } /* '' */
.icon-lock:before { content: '\e82a'; } /* '' */
.icon-lock-open:before { content: '\e82b'; } /* '' */
.icon-pin:before { content: '\e82c'; } /* '' */
.icon-eye:before { content: '\e82d'; } /* '' */
.icon-eye-off:before { content: '\e82e'; } /* '' */
.icon-bookmark:before { content: '\e82f'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-flag:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-tint:before { content: '\e833'; } /* '' */
.icon-adjust:before { content: '\e834'; } /* '' */
.icon-key:before { content: '\e835'; } /* '' */
.icon-megaphone:before { content: '\e836'; } /* '' */
.icon-floppy:before { content: '\e837'; } /* '' */
.icon-credit-card:before { content: '\e838'; } /* '' */
.icon-chart-bar:before { content: '\e839'; } /* '' */
.icon-truck:before { content: '\e83a'; } /* '' */
.icon-music:before { content: '\e83b'; } /* '' */
.icon-search:before { content: '\e83c'; } /* '' */
.icon-mail:before { content: '\e83d'; } /* '' */
.icon-user:before { content: '\e83e'; } /* '' */
.icon-home:before { content: '\e83f'; } /* '' */
.icon-link:before { content: '\e840'; } /* '' */
.icon-attach:before { content: '\e841'; } /* '' */
.icon-thumbs-up:before { content: '\e842'; } /* '' */
.icon-thumbs-down:before { content: '\e843'; } /* '' */
.icon-terminal:before { content: '\e844'; } /* '' */
.icon-rss-alt:before { content: '\e845'; } /* '' */
.icon-trash-empty:before { content: '\e846'; } /* '' */
.icon-basket:before { content: '\e847'; } /* '' */
.icon-wrench:before { content: '\e848'; } /* '' */
.icon-off:before { content: '\e849'; } /* '' */
.icon-list-alt:before { content: '\e84a'; } /* '' */
.icon-barcode:before { content: '\e84b'; } /* '' */
.icon-book:before { content: '\e84c'; } /* '' */
.icon-magnet:before { content: '\e84d'; } /* '' */
.icon-commerical-building:before { content: '\e84e'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-columns:before { content: '\f0db'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-hospital:before { content: '\f0f8'; } /* '' */
.icon-h-sigh:before { content: '\f0fd'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-crop:before { content: '\f125'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-lifebuoy:before { content: '\f1cd'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-cc:before { content: '\f20a'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-cart-arrow-down:before { content: '\f218'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-mouse-pointer:before { content: '\f245'; } /* '' */
.icon-i-cursor:before { content: '\f246'; } /* '' */
.icon-hourglass-1:before { content: '\f251'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-credit-card-alt:before { content: '\f283'; } /* '' */
.icon-bluetooth:before { content: '\f293'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */
.icon-envira:before { content: '\f299'; } /* '' */
.icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */
.icon-pied-piper:before { content: '\f2ae'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-id-card:before { content: '\f2c2'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */